/definitions.xml
/Vital_Records_Common_Profiles_Library.zip
/Vital_Records_Common_Profiles_Library_search_set.xml
/Vital_Records_Common_Profiles_Library_transaction.xml
/input - Copy

/org.hl7.fhir.publisher.jar
/output
/publisher.bat
/publisher.sh
/template
/temp
/FHIR-us-vr-common-library.xml
